@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663156693374') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3rem;
  color: rgb(219, 11, 11);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

